In [47]:
from scipy.io import arff
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.cluster import DBSCAN

In [35]:
f = 'C://Users//nadzi//Desktop//datasets//datasets//nursery.arff'
data, meta = arff.loadarff(f)

In [37]:
dataset = np.array(data.tolist(), dtype=object)
column_names = meta.names()
df = pd.DataFrame(data=dataset, columns=column_names)

In [73]:
if df.isnull().any().sum() > 0:
    for x in meta[:-1]:
        top_frequent_value = df[x].describe()['top']
        df[x].fillna(top_frequent_value, inplace=True)

In [74]:
X = df.iloc[:,:-1]
Y = df.iloc[:, -1]

In [75]:
def label_encoding(x, classes):
    """Function written based on label encoding rule
        Parameters
        ----------
        x : value to interpret
        classes: array of classes
        Returns
        -------
        self : returns index of x value in classes array.
        """
    return classes.index(x)

In [76]:
X.iloc[:,1] = X.iloc[:,1].apply(label_encoding, classes=[b'proper', b'less_proper', b'improper', b'critical', b'very_crit'])
X.iloc[:,3] = X.iloc[:,3].apply(label_encoding, classes=[b'1', b'2', b'3', b'more'])
X.iloc[:,4] = X.iloc[:,4].apply(label_encoding, classes=[b'convenient', b'less_conv', b'critical'])
X.iloc[:,5] = X.iloc[:,5].apply(label_encoding, classes=[b'convenient', b'inconv'])
X.iloc[:,6] = X.iloc[:,6].apply(label_encoding, classes=[b'nonprob', b'slightly_prob', b'problematic'])
X.iloc[:,7] = X.iloc[:,7].apply(label_encoding, classes=[b'not_recom', b'recommended', b'priority'])

c:\users\nadzi\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:1783: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value
c:\users\nadzi\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [72]:
X

                  a1  a2           a3  a4  a5  a6  a7  a8
0           b'usual'   0  b'complete'   0   0   0   0   1
1           b'usual'   0  b'complete'   0   0   0   0   2
2           b'usual'   0  b'complete'   0   0   0   0   0
3           b'usual'   0  b'complete'   0   0   0   1   1
4           b'usual'   0  b'complete'   0   0   0   1   2
...              ...  ..          ...  ..  ..  ..  ..  ..
12955  b'great_pret'   4    b'foster'   3   2   1   1   2
12956  b'great_pret'   4    b'foster'   3   2   1   1   0
12957  b'great_pret'   4    b'foster'   3   2   1   2   1
12958  b'great_pret'   4    b'foster'   3   2   1   2   2
12959  b'great_pret'   4    b'foster'   3   2   1   2   0

[12960 rows x 8 columns]

In [44]:
X=pd.get_dummies(X, columns=['a1','a3'])

In [45]:
X

,a2,a4,a5,a6,a7,a8,a1_b'great_pret',a1_b'pretentious',a1_b'usual',a3_b'complete',a3_b'completed',a3_b'foster',a3_b'incomplete'
0,0,0,0,0,0,1,0,0,1,1,0,0,0
1,0,0,0,0,0,2,0,0,1,1,0,0,0
2,0,0,0,0,0,0,0,0,1,1,0,0,0
3,0,0,0,0,1,1,0,0,1,1,0,0,0
4,0,0,0,0,1,2,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12955,4,3,2,1,1,2,1,0,0,0,0,1,0
12956,4,3,2,1,1,0,1,0,0,0,0,1,0
12957,4,3,2,1,2,1,1,0,0,0,0,1,0
12958,4,3,2,1,2,2,1,0,0,0,0,1,0
12959,4,3,2,1,2,0,1,0,0,0,0,1,0

In [46]:
# fit scaler on data
norm = MinMaxScaler().fit(X)

# transform data
X = norm.transform(X)